
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: auto;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(233,223,151,.2);
  border-radius: 4px;
  color: #fff;
  opacity: 1;
  visibility: visible;
  position: relative;

  .count {
    position: relative;
    padding: 20px;
    width: 140px;
    height: 100px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
     &:before {
       content: '';
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background: rgba(233,233,156,.2);
       filter: blur(4px);
       z-index: -1;

     ;
     }
  }
   &:before {
     content: '';
     width: 100%;
     position: absolute;
     height: 100%;
     top: 0;
     left: 0;
     z-index: -1;
     right: 0;
     bottom: 0;
     background: rgba(255,255,255,.1);
     filter: blur(4px);
   }
  .btns {
    display: flex;
    justify-content: space-between;

  }
  span {
    margin: 20px 0;
    font-size: 50px;
    
  }
}

.animClass {
  animation: rotateAnim 2s ease;
  opacity: 1;
  visibility: visible;
}

